body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 2.5em;
    margin: 40px 0 20px 0;
    color: #C8A2C8; /* Lilac color */
    font-style: italic;
    text-align: center;
}

.images {
    display: flex; /* Flexbox for side-by-side layout */
    justify-content: center; /* Center images horizontally */
    align-items: center; /* Align images vertically */
    gap: 500px; /* Space between images */
    width: 100%; /* Ensure the container takes up the full width */
    max-width: 1000px; /* Increase max-width to accommodate larger images */
}

.image-wrapper {
    display: flex;
    flex-direction: column; /* Stack images vertically */
    align-items: center; /* Center images horizontally */
    position: relative; /* Create a stacking context */
}

.ben {
    max-width: 150%; /* Make the image smaller */
    height: auto;
}

.hi {
    max-width: 150%; /* Adjust size as needed */
    height: auto;
    margin-top: -40px; /* Adjust this value to create more space between images */
}

.bookshelf {
    max-width: 30%; /* Make the image smaller */
    height: auto;
}



